<div class="main-container">
    <h1 class="text-white">Create Invoice</h1>
    <form class="main-form" (ngSubmit)="submitInvoice()">
        <div>
            <h4 class="text-center"> Client</h4> 
            <select name="clientName" id="clientName" [(ngModel)]="clientName" (change)="onClientChange()">
                <option *ngFor="let client of details?.clients" [value]="client.clientName">{{client.clientName}}</option>
            </select>
        </div>
        

        <div class="headingDetails d-flex p-5 align-items-start">
            
            <div>
                <h4>Invoice Number</h4> 
                <p class="text-italic">Edit as needed</p>
                <input type="text" id="clientName" [(ngModel)]="invoiceNumber" name="invoiceNumber">
            </div>
            <div>
                <h4>Issue Date</h4>
                <p class="text-italic">Leave blank for today's date</p>
                <input type="date" id="issueDate" [(ngModel)]="todayDate" name="issueDate">
            </div>
            <div>
                <h4>Invoice Due Date</h4>
                <p class="text-italic">Leave blank to default to 14 days</p>
                <input type="date" id="dueDate" [(ngModel)]="dateDue" name="dueDate">
            </div>
        </div>

        <br>
        <div class="d-flex flex-column align-items-center">
            <h3>Items</h3>
            <div *ngFor="let item of items let i=index">
                <label for="description-{{i}}">Description: </label>
                <input type="text" id="description-{{i}}" name="description-{{i}}" [(ngModel)]="item.description">
                <label for="quantity-{{i}}">Quantity: </label>
                <input type="number" id="quantity={{i}}" name="quantity-{{i}}" [(ngModel)]="item.quantity">
                <label for="price-{{i}}">Price: </label>
                <input type="number" id="price-{{i}}" name="price-{{i}}" [(ngModel)]="item.price"
                (change)="calculateTotal()">
            </div>
            <button type="button" (click)="addItem()">Add Item</button>
            <h4> Total: {{total | number:'1.2-2'}}</h4>
        </div>

        <br>

        <label for="businesses">Select Business: </label>
        <select name="businesses" id="busniess" [(ngModel)]="selectedBusiness" (change)="onBusinessChange()">
            <option *ngIf="businesses" value="" selected>Select a business</option> <!-- Default option -->
            <option *ngIf="!businesses" value="" selected>{{details?.name}}</option>
            <option name="selectedBusiness" >{{details?.name}}</option>
            <option name="selectedBusiness" *ngFor="let business of details?.businesses">{{business?.businessName}}</option>
        </select>

        <label for="Banks">Select Bank: </label>
        <select name="banks" id="bank" [(ngModel)]="selectedBank" (change)="onBankChange()">
            <option *ngIf="!oneBank" value=""  selected>Select Bank</option>
            <option *ngIf="oneBank" value="" selected>{{details?.bankDetails[0].bankNickName}}</option>
            <option *ngFor="let bank of details?.bankDetails" [value]="bank.bankNickName">{{bank?.bankNickName}}</option>
        </select>

        

        <label for="notes">Notes: </label>
        <textarea [(ngModel)]="notes" name="notes" id="notes"></textarea>
        <button [disabled]="!invoiceNumber || !clientName || !total || !bankName || !selectedBusiness" type="submit">Save Invoice</button>
    </form>

    <div class="invoicePreview p-5 text-center">
        <div class="heading">
            <h2 class="fancy-text text-right">INVOICE</h2>
            <div>{{businesses && selectedBusiness ? selectedBusiness : details?.name}}</div>
            <div>{{businesses && selectedBusiness ? selectedAddress : details?.address}}</div>
        </div>
        <div>
            <div class="text-left">Bill to: <p>{{clientName}}</p></div>
            <div class="text-right">Invoice number: {{invoiceNumber}}</div>
            <div class="text-right">Issue date: {{todayDate | date}}</div>
        </div>


        <div class="itemPreview d-flex flex-column align-items-center">
            <div>
            <table class="table table-striped" *ngIf="items.length>1">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td *ngIf="item.description!==''">{{item.description}}</td>
                        <td *ngIf="item.quantity>0">{{item.quantity}}</td>
                        <td *ngIf="item.price>0">£{{item.price}}</td>
                        <td *ngIf="item.price>0 && item.quantity>0">{{item.price * item.quantity | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td class="no-border"></td>
                        <td class="no-border"></td>
                        <td class="text-italic">Total Due: </td>
                        <td class="text-bold">£{{this.total | number:'1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="text-left">
            <p>Invoice due by: {{dateDue | date}}</p>
            <div>Please pay into:</div>
            <div>{{oneBank ? 'Bank Name: ' + details.bankDetails[0].bankName : 'Bank Name: ' + bankName}}</div>
            <div>{{oneBank ? 'Sort Code: ' + details.bankDetails[0].sortCode : 'Sort Code: ' + sortCode}}</div>
            <div>{{oneBank ? 'Account Number: ' + details.bankDetails[0].accountNumber : 'Account Number: ' + accountNumber}}</div>
        </div>
    </div>

    
    <button [disabled]="!generate" (click)="generatePDF()">Generate PDF of invoice</button>
    <br>
</div>
