<div class="text-center d-flex flex-column p-5 g-5">
    <h4>View Trend of Stock Prices</h4>
    <div>
        <label for="isin">Ticker Symbol: </label>
        <input class="ml-2" type="text" name="isin" [(ngModel)]="isin">
    </div>
    <button (click)="fetchPrices()">Show trend</button>
    <div *ngIf="show">
        <div *ngFor="let price of prices; let i = index">
            <p>{{price.date}} - {{price.price}}</p>
        </div>
    </div>
</div>


<div>
    <button (click)="investSummary()">View Investments</button>
    <select *ngIf="showSummary" [(ngModel)]="url">
        <option *ngFor="let investment of allInvestments" [value]="investment.url">
            {{ investment.name }}
        </option>
    </select>
    <button *ngIf="showSummary" (click)="fetchInvestPrice()">Get Price</button>
</div>

<div *ngIf="priceResult">
    <p>Price: {{ priceResult }}</p>
</div>