.card{
  background-color: lightcoral;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.responsive-table th, .responsive-table td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

.responsive-table th {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .responsive-table {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  button{
    font-size: 14px;
    max-width: 80px;
  }
}

button{
  width: 110px;
}

input{
  width:50px;
}
  